{% extends 'base.html.twig' %}

{% block browse %}

    {% if 0 ==  works|length %}
        <div class="no-results">
            No books were found with titles similar to "{{ query_raw }}".
        </div>

        {{ include( 'ScottDataBundle:Fragment:searchfooter.html.twig') }}

    {% else %}
        <div class="books">
            {% if 1 == page %}
                <div class="item double category" style="width:520px">
                    <div class="current">
                        <div class="flourish"></div>
                        <span>Showing {{ matches }} books with titles similar to: <br />
                        <em>{{ query_raw }}</em></span>
                    </div>
                </div>
            {% endif %}
            {% for work in works %}
                {{ include( 'search.work.html.twig', { 'work': work }) }}
            {% endfor %}
        </div>

        {% if hasmore %}
            <div class="navigation" style="display:none;">
                {% set wq = '' %}
                {% if work_id %}{% set wq %}&amp;work_id={{ work_id }}{% endset %}{% endif %}
                <a href="{{ path('book_search') }}?query={{ query|url_encode }}{{ wq }}&amp;page={{ page+1 }}" class="morelink" style="display:none"></a>
            </div>
        {% else %}
            {{ include( 'fragment/searchfooter.html.twig') }}
        {% endif %}
    {% endif %}

{% endblock %}



